<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试上传文件</title>
    <script src="/js/common.js"></script>
</head>
<body>
<form action="/api/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file"/>
    <br>
    <input type="submit" value="上传"/>
</form>
<!-- 点击按钮下载 请求 /download/*sUrl 下载文件-->
<button onclick="download('hello')">下载</button>
<button onclick="doGet('/api/clean')">清理</button>
<button onclick="doGet('/api/syncfileindex')">同步文件</button>
<button onclick="doGet('/api/sortUrlList')">文件列表</button>
</body>
</html>
